---

import Layout from "../layouts/layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <Header/>
    <div class="wrapper">
        <Card
                number="2"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються на факультетах індустрії моди та культурних і креативних індустрій, інституті права та сучасних технологій"
        />
        <Card
                number="3"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються на факультеті мехатроніки та комп’ютерних технологій та інституті інженерії та інформаційних технологій"
        />
        <Card
                number="4"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються на факультеті хімічних та біофармацевтичних технологій"
        />
        <Card
                number="5"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються на факультетах управління та бізнес-дизайну, культурних і креативних індустрій"
        />
        <Card
                number="6"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються на факультетах хімічних та біофармацевтичних технологій, управління та бізнес-дизайну"
        />
        <Card
                number="7"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються на факультетах дизайну та комп’ютерних технологій та інституті інженерії"
        />
        <Card
                number="8"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються на факультетах культурних і креативних індустрій та управління бізнес-дизайну"
        />
        <Card
                number="9"
                address="вул. Бойчука Михайла, 13-б"
                phone="+36849168498"
                description="Гуртожиток для студентів і аспірантів, які навчаються в Фаховому коледжі мистецтв та дизайну КНУТД. Цей гуртожиток з коридорною системою планування"
        />
    </div>
    <Footer/>
</Layout>

<style>
    .wrapper {
        width: 90%;
        margin: 40px auto 0 auto;
        border-radius: 20px;
        background: #FFF;
        padding: 48px;
    }
</style>