---
const { circuitLink, cell } = Astro.props;
---

<div class="mt-[30px]">
    <div class="flex justify-center"><p class="cell inline-block">{cell}&nbspклітка</p></div>
    <div class="flex justify-center"><img class="circuit mt-[20px] w-[100%]" alt="/" src={circuitLink}></img></div>
</div>

<style>
    .cell {
        padding: 10px 20px;
        border-radius: 4px;
        background: #FFF;
        font-family: 'Poppins', sans-serif;
        color: #2B3674;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }
</style>