---
---
<footer class="w-[100%] h-[400px] mt-[180px] pt-[60px] bg-white ">
    <div class="wrapper flex justify-between w-[90%]">
        <div>
            <div class="logo ml-0"/>
            <ul class="nav mt-[30px]">
                <li class="nav-item "><a href="/">Головна</a></li>
                <li class="nav-item "><a href="/">Обрати кімнату</a></li>
                <li class="nav-item "><a href="/">Завантаження документів</a></li>
            </ul>
        </div>
        <div>
            <h2 class="title">Контакти</h2>
            <p class="number">+3546456468498</p>
            <p class="number">+3546456468498</p>
        </div>
    </div>
</footer>

<style>
    .wrapper {
        margin: 0 auto;
    }

    .title {
        color: #2B3674;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 30px;
    }

    .number {
        margin-top: 20px;
        color: #A3AED0;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.3px;
    }

    .number:before {
        content:url('public/phone.svg');
        vertical-align: sub;
        margin-right: 12px;
    }

    .nav-item {
        margin-top: 30px;
        color: #A3AED0;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.3px;
    }
</style>