<footer class="footer">
    <div class="footer_wrapper">
        <div>
            <div class="footer_logo"/>
            <ul class="footer_nav mt-[30px]">
                <li class="nav-item"><a href="/">Головна</a></li>
                <li class="nav-item"><a href="/">Обрати кімнату</a></li>
                <li class="nav-item"><a href="/">Завантаження документів</a></li>
            </ul>
        </div>
        <div>
            <h2 class="title">Контакти</h2>
            <p class="number">+3546456468498</p>
            <p class="number">+3546456468498</p>
        </div>
    </div>
</footer>

<style>
    .footer {
        width: 100%;
        height: 400px;
        margin-top: 180px;
        padding-top: 60px;
        background-color: #fff;
    }

    .footer_wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .footer_logo {
        margin-left: 0;
        content: url("../assets/img/logo.svg");
    }

    .title {
        color: #2B3674;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 30px;
    }

    .number {
        margin-top: 20px;
        color: #A3AED0;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.3px;
    }

    .number:before {
        content:url('../assets/img/phone.svg');
        vertical-align: sub;
        margin-right: 12px;
    }

    .nav-item {
        margin-top: 30px;
        color: #A3AED0;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.3px;
    }
</style>