
<header class="flex items-center justify-between">
    <div class="logo inline-block"/>
    <div class="nav flex items-center justify-between">
        <a href="/" class="nav-item inline-block active">Головна</a>
        <a href="/" class="nav-item inline-block">Обрати кімнату</a>
        <a href="/" class="nav-item inline-block">Завантаження документів</a>
    </div>
</header>

<style>
    header {
        height: 100px;
        width: 100%;
        background-color: #fff;
    }

    .nav-item {
        color: #A3AED0;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.3px;
        margin-right: 30px;
    }

    .nav {
        margin-right: 5em;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .active {
        color: #2B3674;
    }

</style>
