---
export interface Props {
    title: string,
}

const { title = 'ISD Group - Creative Digital Agency' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" sizes="32x32" href="https://isd-group.com/favicon/favicon-32x32.png">
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>



<style>
    @font-face {
        font-family: 'Decima Mono Pro';
        src: url('../assets/fonts/subset-DecimaMonoPro.woff2') format('woff2'),
        url('../assets/fonts/subset-DecimaMonoPro.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    body {
        color: #43433E;
        background: rgb(247, 247, 239);
        cursor:  url('../assets/img/cursor1.png'), auto;
        margin: 0;
        padding: 0;
    }



</style>
